@import "tailwindcss";

:root {
  --color-primary: #31a0e8;
  --color-primary-light: #66baf2;
  --color-primary-contrast: #ffffff;
  --color-secondary: #81d394;
  --color-secondary-light: #b8edc4;
  --color-info: #00bcd4;
  --color-info-light: #8cd2db;
  --color-error: #fc4b6c;
  --color-background: #eef1f2;
  --color-box-background: #fafafa;
  --color-box-background-secondary: #fafffb;
  --color-text-primary: #124a57;
  --color-text-secondary: rgba(36, 53, 82, 0.6);
  --color-text-disabled: rgba(36, 53, 82, 0.35);
  --box-radius: 16px;
  --button-radius: 8px;
  --input-radius: 8px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: var(--color-background);
}
